doctype=html
html
    head
        title Express.js + Pug
    body
        h1 LAB_20
        br
        a(href='customers/index') Customers
        br
        a(href='incidents/index') Incidents
        br
        a(href='products/index') Products
        br
        a(href='registrations/index') Registrations
        br
        a(href='technicians/index') Technicians